.list {
  background: white;
  border: 3px solid black;
  box-sizing: border-box;
  padding: 20px;
  min-width: 300px;
  min-height: 50px;
  margin: 10px;
}

.addTodoButton {
  background: white;
  border: 1px solid black;
}
